<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>JoliblogBundle - Age</title>
</head>
<body>
J"ai {{ age }} ans<br><br>
L'url actuelle est <a href="{{ url }}">{{ url }}</a>



</body>
</html>
