<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>JoliblogBundle - Redirect</title>
</head>
<body>

Êtes-vous sur de vouloir aller sur : <a href="{{ url }}">{{ url }}</a>
</body>
</html>
